/* font-family: "Nunito", */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.header_styles {
  position: relative;
}

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 50px;
  background: #fff;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 100;
  border-bottom: 1px solid #a5a3a3e1;
}

.header_contact {
  border-right: 1px solid rgba(0, 0, 0, 0.26);
  padding-right: 15px;
  transition: color 0.3s ease;
}

.header_contact span {
  margin-top: 7px;
}

.header_contact a {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.863);
  text-decoration: none;
}

.header_contact a:hover {
  color: rgba(37, 85, 75, 0.863);
}


.social_icons{
  display: flex;
  gap: 10px;
}

.social_icons span{
  font-size: 20px;
  cursor: pointer;
  display: flex;
  padding: 4px;
}

.social_icons .linkedin{
  color: rgb(10, 102, 194);
}
.social_icons .twitter{
  color: rgb(28, 156, 234);
}
.social_icons .facebook{
  color: rgb(8, 102, 255);
}

.search_icon span {
  font-size: 16px;
  display: flex;
  cursor: pointer;
  border-left: 1px solid rgba(128, 128, 128, 0.418);
  padding: 6px 20px;
}

.active_searchBar span {
  color: rgb(240, 43, 8);

}

.header_user_account_container {
  overflow: hidden;
  gap: 30px;
}

.header_user_account{
  border: 1px solid;
  border-radius: 20px;
  padding: 2px 5px;
}

.header_user_account span {
  font-size: 18px;
  color: #000000da;
}

.header_user_account_container:hover {
  border-color: tomato;
}


@media screen and (max-width: 768px) {
  .header_container {
    padding: 10px 20px;
  }
  .header_contact a p{
    display: none;
  }

  .flex {
    gap: 10px;
  }

  .marquee {
    /* max-width: 40%; */
  }

}
