

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

header {
  position: relative;
}

.navbar_container {
  position: fixed;
  top:46px;
  left: 0;
  right: 0;
  border-top: 1px solid #a5a3a3e1;
  padding: 10px 80px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 100;
}

.menu {
    gap: 120px;
}
.menu ul {
  gap: 50px;
}
.menu ul li {
  list-style: none;
  
}
.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.menu ul li a:hover {
  color: rgb(255, 40, 0);
}
.menu .cart_buy{
  display: flex;
    position: relative;
    gap: 30px;
}

.menu .cart_buy span{
  position: absolute;
  top: -2px;
  left: 18px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(2, 170, 2);
}

.menu a.cart{
  font-size: 25px;
  margin: 12px 0px 0px 0px;
  color: #000;
}

.menu .buyNowBtn {
  background: rgb(255, 40, 0);
  padding: 4px 15px;
  color: #fff;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.8s ease;
  font-size: 18px;
  border: none;
  outline: none;
}

.menu .buyNowBtn:hover {
  border: 1px solid tomato;
  background: none;
  color: #000;
}

.menu_btns {
  font-size: 30px;
  cursor: pointer;
  display: none;
}


@media screen and (max-width: 1023px) {
    .navbar_container {
        padding: 15px 40px;
        justify-content: space-between;
        gap: 15px;
      }
    .logo img{
        width: 90px;
    }
    .menu_link{
        position: fixed;
        top: 150px;
        right: 0;
        height: 100%;
        width: 250px;
        height: fit-content;
        padding: 20px 0px;
        gap: 20px;
        transition: transform 1s ease;
        transform: translateX(100%);
        background-color: rgba(205, 207, 207, 0.836);
        z-index: 100;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
      }

      .navResposive{
        transform: translateX(0);
    }

    .menu_btns{
        display: flex;
    }
}

@media screen and (max-width: 1023px) {
    .navbar_container{
        padding: 10px 20px;
    }
}