

.cars_container {
  padding: 100px 50px 50px 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.title_btn {
  justify-content: space-between;
  margin: 0px 0px 80px 0px;
}

.carsBtn {
  gap: 0px;
  position: relative;
}

.carsBtn button {
  position: relative;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(4, 34, 54);
  border-right: 3px solid black;
  font-weight: 500;
  padding: 0px 20px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.carsBtn button:hover {
  transform: translateY(-5px);
  color: teal;
}

.cars_content{
  padding-bottom: 30px;
}

.cars_content li {
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cars_content img {
  width: 280px;
  height: 180px;
  transition: all 0.6s ease;
}

.cars_content li:hover img {
  transform: scale(1.1);
}

.cart_details {
  padding: 15px;
  margin-top: -5px;
}

.cart_details h2 {
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease;
  font-size: 22px;
}
.cart_details h2:hover {
  color: tomato;
}

.cart_details .ratings {
  justify-content: start;
  gap: 5px;
}
.cart_details .ratings span {
  color: rgb(230, 171, 8);
  font-size: 18px;
}
.cart_details .ratings b {
  color: rgb(114, 111, 111);
  font-size: 15px;
}

.cart_details .price {
  color: rgb(6, 145, 6);
  font-weight: bold;
}

.cart_seeDetails_Btn {
  justify-content: start;
  margin-top: 10px;
}

.cart_seeDetails_Btn button {
  padding: 2px 10px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: rgb(59, 59, 59);
  transition: all 0.5s ease;
}

.cart_seeDetails_Btn button:hover {
  background: rgba(255, 99, 71, 0.849);
  color: #fff;
}

@media screen and (max-width: 480px) {
  .cars_container {
    padding: 60px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title_btn {
    justify-content: center;
    margin: 0px 0px 50px 0px;
  }

  button.toyota {
    border: none;
  }

  .cars_content img {
    width: 300px;
  }
}
