
.page_container{
  position: relative;
}

  /* Banner section */
  .banner {
    background: url('../../assets/images/Contact_us_img/contact_us.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    color: rgb(2, 14, 20);
    text-align: center;
  }
  
  .banner h1 {
    font-size: 35px;
    /* padding: 100px 0px 0px 0px ; */
  }
  
  .banner p {
    font-size: 20px;
  }
  
.support_details_info{
  padding: 0px 0px 100px 0px ;
}

.support_container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
  }
  
  .support_form_container {
    flex: 1;
    margin-right: 20px;
  }
  
  .support_form_container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    padding: 0px 0px 0px 50px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 50px;
   
  }
  
  .form_group {
    flex: 1 1 45%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  div.massage{
    display: block;
  }
  
  .form_group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;
  }
  
  .form_group input,
  .form_group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 17px;
  }
  
  .submitBtn {
    font-size: 17px;
    background-color: #ff4c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  
  .submitBtn:hover {
    background-color: #e64500;
  }
  
  .contact_info_container {
    background-color: #333;
    color: #ffffffe5;
    padding: 40px 20px;
    flex: 0.5;
    border-radius: 0px 10px 10px 0px;
  }
  
  .contact_info_container h2 {
    font-size: 25px;
    color: #f50808;
  }
  
  .single_contact_info{
    border-bottom: 2px dashed rgba(128, 128, 128, 0.322);
    padding: 20px 0px;
  }

  .single_contact_info h3{
    font-size: 20px;
    margin-bottom: 5px;
  }

  .single_contact_info a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s ease;
  }

  .single_contact_info a:hover{
    color: #a0a0a0;
  }

  .contact_info_container strong {
    display: block;
    margin-bottom: 5px;
  }


  @media screen and (max-width:480px) {
    .support_details_info{
      padding: 60px 0px;
    }

    .support_container {
      justify-content: center;
      padding: 40px 0px;
    }


    .contact_info_container {
      border-radius: 10px;
    }
  }
  