


.marquee_container {
  background: #0001;
  border-radius: 10px;
  width: 40%;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
}

.marquee_inner_content {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
}

.marquee_inner_content span b {
  color: tomato;
}


/* Keyframes for the scroll animation */
@keyframes scroll-left {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(-100%); 
  }
}
