



.newsPage{
    padding: 160px 0px 40px 0px;
}

.newsPageHeader{
    padding: 100px;
    background: #afafaf8f;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}