.flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.hero_single_slider {
  position: relative;
  margin-top: 126px;
}

.hero_text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  z-index: 1;
  color: #fff;
  max-width: 700px;
}
.hero_text h2 {
  font-size: 30px;
  color: goldenrod;
  border-bottom: 1px solid rgba(128, 128, 128, 0.534);
  margin-bottom: 20px;
}
.hero_text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}
.hero_text i {
  margin: 40px 0px;
  font-size: 20px;
}
.hero_text h3 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(72, 185, 7);
  margin-left: -15px;
}

.hero_btns {
}

.hero_btns button {
  padding: 5px 25px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #ffff;
}

.hero_btns .explore_more_btn {
  background: tomato;
  border: 1px solid tomato;
  transition: all 0.7s ease;
}

.hero_btns .explore_more_btn:hover {
  background: rgba(128, 128, 128, 0.788);
  border: 1px solid rgba(128, 128, 128, 0.788);
}

.hero_btns .get_now_btn {
  border: 1px solid rgba(128, 128, 128, 0.788);
  transition: all 0.7s ease;
  background: rgba(128, 128, 128, 0.788);
}

.hero_btns .get_now_btn:hover {
  background: none;
  border: 1px solid rgba(128, 128, 128, 0.788);
  color: rgb(180, 179, 131);
}

@media screen and (max-width: 1023px) {

  .slider_img img{
    max-width: 800px;
    height: auto;
  }
  .hero_text h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .hero_text h1 {
    font-size: 40px;
  }
  .hero_text i {
    margin: 35px 0px;
    font-size: 20px;
  }
}

@media screen and (max-width: 833px) {
  .hero_text h2 {
    margin-bottom: 15px;
  }
  .hero_text h1 {
    font-size: 35px;
  }
  .hero_text i {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 767px) {
  .hero_text h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .hero_text h1 {
    font-size: 30px;
  }
  .hero_text i {
    margin: 0px 0px;
  }
}
@media screen and (max-width: 479px) {
  .slider_img img {
    max-width: 500px;
    height: auto;
  }
  .hero_text {
    max-width: 100%;
  }

  .hero_text h2 {
    font-size: 18px;
  }
  .hero_text h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
  }
  .hero_text i {
    margin: 10px 0px;
    font-size: 18px;
  }
  .hero_text h3 {
    font-size: 20px;
  }

  .hero_btns button {
    padding: 4px 20px;
    font-size: 17px;
  }
}
