

/* login styles  */
.banner {
  background: linear-gradient(
      90deg,
      rgba(3, 18, 1, 0.7511379551820728) 54%,
      rgba(11, 5, 3, 0.6222864145658263) 85%
    ),
    url(../../assets//images/Registration//Registration.jpg);
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h2 {
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
}

.login_box {
  padding: 40px 15px 100px 15px;
}

.login_inner_content {
  padding: 30px 0px;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  border-radius: 10px;
}
.login_inner_content h2 {
  color: rgb(228, 42, 10);
}

.login_inner_content p button {
  border: none;
  outline: none;
  color: rgb(47, 106, 233);
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  background: transparent;
}

.login_inner_content p button:hover {
  color: rgb(14, 62, 167);
  text-shadow: 1px 1px 2px;
}

.form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.form label {
  margin-bottom: 3px;
  font-weight: bold;
}
.form input {
  margin-bottom: 15px;
  width: 250px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid rgb(160, 159, 159);
}

.form input:focus {
  outline-color: green;
}
.form button {
  padding: 3px 20px;
  font-size: 17px;
  color: #fff;
  background: rgb(228, 42, 10);
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.form button:hover {
  box-shadow: 2px 2px 10px rgb(189, 182, 181);
}

.form button:active {
  transform: scale(1.2);
}



/* signUp styles  */

.login_box .signUp{
    max-width: 380px;
}

.signUp_form input{
    width: 290px;
}

@media screen and (max-width:480px) {
    .login_box {
        padding: 50px 15px;
      }
}