.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonials_container {
}

.testimonials_inner_content {
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 80px;
}

.testimonials_titles {
  flex: 1;
  color: #000;
}

.testimonials_titles h4 {
  color: rgb(255, 40, 0);
}

.testimonials_titles h1 {
  font-size: 33px;
  line-height: 40px;
}

.testimonials_titles button {
  margin: 20px 0px;
  padding: 5px 25px;
  font-size: 20px;
  color: #fff;
  border-radius: 2px;
  background: rgb(255, 40, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.testimonials_titles button:hover {
  transform: translate(10px) translateY(10px);
}

.slider-container {
  max-width: 700px;
  height: auto;
}

.testimonials_single_box {
  padding: 15px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.473);
  border: 1px solid rgba(245, 241, 241, 0.733);
  text-align: center;
  cursor: pointer;
}

.testimonials_single_box h2 {
  font-size: 25px;
  margin-top: 30px;
  color: rgba(255, 94, 0, 0.918);
}

.testimonials_single_box p {
  margin: 30px 0px 20px 0px;
}

.testimonials_img {
  gap: 10px;
  color: tomato;
  margin: 0px 0px 30px 0px;
}

.testimonials_img img {
  width: 90px;
  height: 80px;
  border-radius: 10px;
}

.testimonials_img p {
  margin: 0px;
  color: gray;
}

button.slick-prev:before,
button.slick-next:before {
  color: rgb(228, 133, 10);
}

.slick-dots {
  position: absolute;
  bottom: 12px;
  display: block;
  width: 100%;
  padding: 1px;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  font-size: 9px;
}


@media (max-width: 1024px) {
  .testimonials_inner_content {
    padding: 60px 15px;
    flex-direction: column;
  }

  .slider-container {
    max-width: 600px;
  }

  .testimonials_single_box {
    padding: 15px;
    max-width: 600px;
  }
}


@media (max-width: 768px) {
  .slider-container {
    max-width: 500px;
  }

  .testimonials_single_box {
    padding: 10px;
    max-width: 500px;
  }
  .testimonials_single_box h2 {
    margin-top: 15px;
    font-size: 20px;
  }

  .testimonials_single_box p {
    margin: 15px 0px;
  }
  .testimonials_img img {
    width: 70px;
    height: 60px;
  }

  .testimonials_img p {
    margin: 0px;
  }

  .slick-prev {
    top: 210px;
    left: 5px;
    z-index: 100;
}

.slick-next {
  top: 210px;
  right: 5px;
  z-index: 100;
}
  
}

@media (max-width: 480px) {
  .testimonials_titles h1 {
    font-size: 22px;
    line-height: 28px;
  }

  .testimonials_titles button {
    padding: 5px 15px;
    font-size: 16px;
  }

  .slider-container {
    max-width: 100%;
  }

  .testimonials_single_box {
    padding: 10px;
    max-width: 100%;
  }
}
