.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.homeAbout_container {
  background: rgb(242, 242, 242);
}

.homeAbout_inner_content {
  padding: 50px 15px;
}

.homeAbout_img {
  flex: 1;
}

.homeAbout_text {
  flex: 1;
}
.homeAbout_text h4 {
  color: tomato;
}
.homeAbout_text h2 {
  max-width: 450px;
  font-size: 35px;
}
.homeAbout_text p {
  margin: 34px 0px 25px 0px;
}
.homeAbout_text li {
  margin-left: 50px;
}
.homeAbout_text img {
  width: 200px;
  margin-top: 10px;
}

@media screen and (max-width: 1023px) {
  .homeAbout_img img {
    max-width: 900px;
  }
 
}
@media screen and (max-width: 834px) {
  .homeAbout_inner_content {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .homeAbout_img img {
    max-width: 100%;
  }

  .homeAbout_text {
    padding: 0 10px;
  }

  .homeAbout_text h2 {
    font-size: 28px; /* ছোট স্ক্রিনে হেডিং সাইজ ছোট হবে */
  }

  .homeAbout_text img {
    width: 150px; /* ছোট স্ক্রিনে সিগনেচার ইমেজ সাইজ ছোট হবে */
  }
}
