




.searchBar_container{
  
}

.searchBar_inner_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    transform: translateY(-100px);
    transition: all .5s ease-in-out;
    position: fixed;
    top: 117px;
    right: 0px;
    left: 0px;
    z-index: 100;
}

.searchBar_visible{
    transform:  translateY(0px);
}

input{
    max-width: 400px;
    width: 100%;
    border: 1px solid;
    padding:10px;
    border-radius: 2px;
    font-size: 17px;
    color: #000000d2;
    outline: none;
}

.searchBar_inner_content button{
    border: none;
    background: rgb(212, 212, 212);
    padding: 11px 15px;
    cursor: pointer;
    color: #0f0f0f;
    margin-left: -48px;
    display: flex;
    font-size: 16px;
}

.searchBtn{
    
}